### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste index.html
RewriteRule kim-jestem aboutme.html
RewriteRule oferta-tworzenie-stron-www offer.html
RewriteRule cv-programista cv.html
RewriteRule kontakt-programista contact.html